<ion-view title="help">
    <ion-content padding="true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="title text-center">Lista</h3>
            </div>
            <div class="panel-body">
                <ion-list>
                    <ion-item ng-repeat="pessoa in pessoas" ng-class="{done:item.done}" ng-click="item.done-true">
                        <i class="icon ion-person-stalker"></i> {{pessoa.nome}} | <i class="icon ion-ios-telephone"></i> {{pessoa.tel}}
                    </ion-item>
                </ion-list>   
            </div>
        </div>
    </ion-content>

</ion-view>